<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../assets/xml/rss.xsl" media="all"?><rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>Give the Fish (Posts about config)</title><link>https://necromuralist.github.io/Fish-Functions/</link><description></description><atom:link href="https://necromuralist.github.io/Fish-Functions/categories/config.xml" rel="self" type="application/rss+xml"></atom:link><language>en</language><copyright>Contents © 2023 &lt;a href="mailto:cloisteredmonkey.jmark@slmail.me"&gt;Cloistered Monkey&lt;/a&gt; 
&lt;div id="license"xmlns:cc="http://creativecommons.org/ns#" &gt;This work is licensed under
&lt;a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;"&gt;CC BY 4.0
&lt;img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"&gt;
&lt;img src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"&gt;&lt;/a&gt;
&lt;/div&gt;
</copyright><lastBuildDate>Sat, 24 Jun 2023 21:46:53 GMT</lastBuildDate><generator>Nikola (getnikola.com)</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>abbreviations.fish The Abbreviations Configuration</title><link>https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/</link><dc:creator>Cloistered Monkey</dc:creator><description>&lt;div id="table-of-contents" role="doc-toc"&gt;
&lt;h2&gt;Table of Contents&lt;/h2&gt;
&lt;div id="text-table-of-contents" role="doc-toc"&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#org2ed5bf9"&gt;Nikola&lt;/a&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#org0ffe3c0"&gt;New Posts and Pages&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#org61564dd"&gt;Build, Serve, and Develop&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#org920ffa4"&gt;Deploy to Github&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#orga104779"&gt;Git&lt;/a&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#org5e73bcb"&gt;Add, Commit, Push Stuff&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#org7da958d"&gt;The State of Things&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#org0da7a32"&gt;Branch Work&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#org78e3765"&gt;My, How Things Have Changed&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#orgcf76e03"&gt;Pass&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#org4111b70"&gt;Grep&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/#orgf39804e"&gt;Links&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div class="notecard" id="org93ba68d"&gt;
&lt;p&gt;
The abbreviations the file goes into &lt;code&gt;~/.config/fish/conf.d/&lt;/code&gt;.
&lt;/p&gt;

&lt;/div&gt;

&lt;p&gt;
Abbreviations are sort of like aliases except fish will expand them once you hit space or enter. If, for example, you enter &lt;code&gt;nb&lt;/code&gt; ~ when you hit the space-bar fish will replace &lt;code&gt;nb&lt;/code&gt; with &lt;code&gt;nikola bulid&lt;/code&gt;. This makes them more transparent than functions, although they're also less powerful.
&lt;/p&gt;

&lt;p&gt;
According to &lt;a href="https://github.com/fish-shell/fish-shell/issues/3099"&gt;this github issue&lt;/a&gt; the files you put into &lt;code&gt;conf.d/&lt;/code&gt; get read before &lt;code&gt;config.fish&lt;/code&gt; so whatever you put in there is usable in &lt;code&gt;config.fish&lt;/code&gt; (and using &lt;code&gt;config.fish&lt;/code&gt;) at all is optional.
&lt;/p&gt;

&lt;div id="outline-container-org2ed5bf9" class="outline-2"&gt;
&lt;h2 id="org2ed5bf9"&gt;Nikola&lt;/h2&gt;
&lt;div class="outline-text-2" id="text-org2ed5bf9"&gt;
&lt;p&gt;
Abbreviations to hopefully make working with &lt;a href="https://getnikola.com/"&gt;Nikola&lt;/a&gt; a little quicker.
&lt;/p&gt;

&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- n &lt;span class="s2"&gt;"nikola"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-org0ffe3c0" class="outline-3"&gt;
&lt;h3 id="org0ffe3c0"&gt;New Posts and Pages&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org0ffe3c0"&gt;
&lt;p&gt;
I only use org-mode so these are the commands to make new posts and pages.
&lt;/p&gt;

&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- npost nikola new_post --format orgmode --title
&lt;/pre&gt;&lt;/div&gt;

&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- npage nikola new_page --format orgmode --title
&lt;/pre&gt;&lt;/div&gt;

&lt;p&gt;
They actually look like the same files are produced, just one gets put into your pages folder and one gets put into your posts folder. Which is nice, I guess, in that we can move things back and forth between the blog and the web-pages as we need to.
&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-org61564dd" class="outline-3"&gt;
&lt;h3 id="org61564dd"&gt;Build, Serve, and Develop&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org61564dd"&gt;
&lt;p&gt;
These are the ones I use the most when making posts and pages.
&lt;/p&gt;

&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- nb &lt;span class="s2"&gt;"nikola build"&lt;/span&gt;
abbr --add -- nbs &lt;span class="s1"&gt;'nikola build; nikola serve'&lt;/span&gt;
abbr --add -- nauto &lt;span class="s2"&gt;"nikola auto"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;

&lt;p&gt;
&lt;code&gt;auto&lt;/code&gt;  will build and reload the page for you anytime it sees any changes. This can be convenient sometimes, but sometimes it detects changes to often (maybe when something is making a temporary backup) and it can end up reloading while you're reading the page so I don't use it as much as I used to.
&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-org920ffa4" class="outline-3"&gt;
&lt;h3 id="org920ffa4"&gt;Deploy to Github&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org920ffa4"&gt;
&lt;p&gt;
And once it's ready…
&lt;/p&gt;

&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- ngd &lt;span class="s2"&gt;"nikola github_deploy"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-orga104779" class="outline-2"&gt;
&lt;h2 id="orga104779"&gt;Git&lt;/h2&gt;
&lt;div class="outline-text-2" id="text-orga104779"&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- g &lt;span class="s2"&gt;"git"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-org5e73bcb" class="outline-3"&gt;
&lt;h3 id="org5e73bcb"&gt;Add, Commit, Push Stuff&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org5e73bcb"&gt;
&lt;/div&gt;
&lt;div id="outline-container-org1df876d" class="outline-4"&gt;
&lt;h4 id="org1df876d"&gt;Adding Files&lt;/h4&gt;
&lt;div class="outline-text-4" id="text-org1df876d"&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- add &lt;span class="s2"&gt;"git add"&lt;/span&gt;
abbr --add -- gaa &lt;span class="s2"&gt;"git add -A"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-org8797b55" class="outline-4"&gt;
&lt;h4 id="org8797b55"&gt;Are you ready for a commitment?&lt;/h4&gt;
&lt;div class="outline-text-4" id="text-org8797b55"&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- commit &lt;span class="s2"&gt;"git commit"&lt;/span&gt;
abbr --add -- gcm &lt;span class="s2"&gt;"git commit --message"&lt;/span&gt;
abbr --add -- amend &lt;span class="s2"&gt;"git commit --amend"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-orgcf91e4b" class="outline-4"&gt;
&lt;h4 id="orgcf91e4b"&gt;Speak To The Gods On High&lt;/h4&gt;
&lt;div class="outline-text-4" id="text-orgcf91e4b"&gt;
&lt;p&gt;
&lt;a href="https://man7.org/linux/man-pages/man2/sync.2.html"&gt;&lt;code&gt;sync&lt;/code&gt;&lt;/a&gt; is a builtin command (it writes caches to disk) so I went with &lt;code&gt;gsync&lt;/code&gt; for the abbreviation.
&lt;/p&gt;

&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- push &lt;span class="s2"&gt;"git push"&lt;/span&gt;
abbr --add -- gsync &lt;span class="s2"&gt;"legit sync"&lt;/span&gt;
abbr --add -- publish &lt;span class="s2"&gt;"legit publish"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-org7da958d" class="outline-3"&gt;
&lt;h3 id="org7da958d"&gt;The State of Things&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org7da958d"&gt;
&lt;p&gt;
&lt;a href="https://fishshell.com/docs/current/cmds/status.html"&gt;&lt;code&gt;status&lt;/code&gt;&lt;/a&gt; gives you information about the fish-shell. This is the only thing I ever see, though.
&lt;/p&gt;

&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;&lt;span class="nb"&gt;status&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;

&lt;pre class="example"&gt;
This is not a login shell
Job control: Only on interactive jobs
&lt;/pre&gt;


&lt;p&gt;
But, anyway, I went with &lt;code&gt;gstat&lt;/code&gt; to not block it in case it's really needed at some point.
&lt;/p&gt;

&lt;div class="notecard" id="orgdc61d4c"&gt;
&lt;p&gt;
&lt;b&gt;&lt;b&gt;Note:&lt;/b&gt;&lt;/b&gt; Look at the &lt;a href="https://necromuralist.github.io/Fish-Functions/posts/ssh-agent-config-fragment/"&gt;SSH Agent Config Fragment&lt;/a&gt; post to see &lt;code&gt;status&lt;/code&gt; in use. It's probably meant for programming, not as a command-line command.
&lt;/p&gt;

&lt;/div&gt;

&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- state &lt;span class="s2"&gt;"git status -sb"&lt;/span&gt;
abbr --add -- gstat &lt;span class="s2"&gt;"git status"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-org0da7a32" class="outline-3"&gt;
&lt;h3 id="org0da7a32"&gt;Branch Work&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org0da7a32"&gt;
&lt;p&gt;
&lt;a href="https://fishshell.com/docs/current/cmds/switch.html"&gt;&lt;code&gt;switch&lt;/code&gt;&lt;/a&gt; is a built-in fish command to conditionally decide what to execute (like a chain of if-else statements).
&lt;/p&gt;

&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- branches &lt;span class="s2"&gt;"legit branches"&lt;/span&gt;
abbr --add -- gswitch &lt;span class="s2"&gt;"legit switch"&lt;/span&gt;
abbr --add -- brls &lt;span class="s2"&gt;"git ls-tree --name-only -r"&lt;/span&gt;
abbr --add -- brlog &lt;span class="s2"&gt;"git log --oneline --abbrev-commit"&lt;/span&gt; &lt;span class="se"&gt;\&lt;/span&gt;
    &lt;span class="s2"&gt;" --all --graph --decorate --color"&lt;/span&gt;
abbr --add -- brlogall &lt;span class="s2"&gt;"git log --branches --graph"&lt;/span&gt;
abbr --add -- renamebranch &lt;span class="s2"&gt;"git branch -m"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-org78e3765" class="outline-3"&gt;
&lt;h3 id="org78e3765"&gt;My, How Things Have Changed&lt;/h3&gt;
&lt;div class="outline-text-3" id="text-org78e3765"&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- codechanges &lt;span class="s2"&gt;"git log -p"&lt;/span&gt;
abbr --add -- logdiff &lt;span class="s2"&gt;"git log -p"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-orgcf76e03" class="outline-2"&gt;
&lt;h2 id="orgcf76e03"&gt;Pass&lt;/h2&gt;
&lt;div class="outline-text-2" id="text-orgcf76e03"&gt;
&lt;p&gt;
For &lt;a href="https://www.passwordstore.org/"&gt;pass&lt;/a&gt; the password-manager. I was doing the pull and push commands but decided to use the git &lt;code&gt;sync&lt;/code&gt; alias which is actuall calling &lt;code&gt;legit sync&lt;/code&gt;, which I think does pretty much the same as what I was doing. It does other stuff like stashing uncommitted changes, but that should never happen when using pass. Anyway. Sync.
&lt;/p&gt;

&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- syncpass &lt;span class="s2"&gt;"pass git sync"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div id="outline-container-org4111b70" class="outline-2"&gt;
&lt;h2 id="org4111b70"&gt;Grep&lt;/h2&gt;
&lt;div class="outline-text-2" id="text-org4111b70"&gt;
&lt;div class="highlight"&gt;&lt;pre&gt;&lt;span&gt;&lt;/span&gt;abbr --add -- grepr &lt;span class="s2"&gt;"grep --color=always"&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="outline-container-orgf39804e" class="outline-2"&gt;
&lt;h2 id="orgf39804e"&gt;Links&lt;/h2&gt;
&lt;div class="outline-text-2" id="text-orgf39804e"&gt;
&lt;ul class="org-ul"&gt;
&lt;li&gt;abbr - manage fish abbreviations — fish-shell 3.6.1 documentation [Internet]. [cited 2023 Jun 22]. Available from: &lt;a href="https://fishshell.com/docs/current/cmds/abbr.html"&gt;https://fishshell.com/docs/current/cmds/abbr.html&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;faho. Answer to “Fish shell; import config into main config” [Internet]. Stack Overflow. 2018 [cited 2023 Jun 23]. Available from: &lt;a href="https://stackoverflow.com/a/48749763"&gt;https://stackoverflow.com/a/48749763&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Document conf.d / config.fish sourcing order · Issue #3099 · fish-shell/fish-shell [Internet]. GitHub. [cited 2023 Jun 23]. Available from: &lt;a href="https://github.com/fish-shell/fish-shell/issues/3099"&gt;https://github.com/fish-shell/fish-shell/issues/3099&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;</description><category>abbreviations</category><category>config</category><guid>https://necromuralist.github.io/Fish-Functions/posts/abbreviationsfish-the-abbreviations-configuration/</guid><pubDate>Fri, 23 Jun 2023 20:51:15 GMT</pubDate></item></channel></rss>