img {
  margin-bottom: 1em;
}

@font-face {
    font-family: 'goudybookletter';
    src: url('../fonts/GoudyBookletter1911/GoudyBookletter1911.woff') format('woff'),
         url('../fonts/GoudyBookletter1911/GoudyBookletter1911.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/ChunkFive/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/ChunkFive/chunkfive-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/ChunkFive/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/ChunkFive/chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    /* color: #eb6864; */
    color: #990033;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #e22620;
  text-decoration: underline;
}
body {
  font-family: "goudybookletter", "EB Garamond",  Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  line-height: 1.42857143;
  color: #444444;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "chunkfiveroman", "Cinzel", "cinzel_decorativebold", serif;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
  font-family: "chunkfiveroman", "Cinzel", 'cinzel_decorativebold', "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  color: #000;
}

.navbar {
    background-image: none;
  font-size: 18px;
  font-family: "chunkfiveroman", "Cinzel", 'cinzel_decorativebold', "Arial Narrow Bold", sans-serif;
  font-weight: 700;
}

.navbar-default .badge {
  background-color: #000;
  color: #fff;
}
.navbar.bg-light {
    background-image: none;
    background-color: #fff !important;
    color: #990033;
}
.navbar-brand {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}
/* The org-mode exporter smashes table columns together for some reason */
.org-left, .org-right {
    padding-left: 10px;
}

.btn-primary {
    background-image: none;
  color: #ffffff;
  background-color: #990033;
  border-color: #990033;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #e53c37;
  border-color: #b81c18;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #e53c37;
  border-color: #e4332e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #e53c37;
  border-color: #e4332e;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #dc221c;
  border-color: #b81c18;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #990033;
  border-color: #990033;
}
.btn-primary .badge {
  color: #990033;
  background-color: #ffffff;
}

/* images and figures */

.figure {
    display: block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* The header bar */
.form-group {
    margin-bottom: auto;
}

 .container {
    max-width: 1224px;
}

 /* P5.js */
 
 /* the canvas with the sketch (p5.js sets this class) */
 .p5Canvas {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

  /* from https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* begin_notecard */

.notecard {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.notecard:before {
  color: #ccc;
   font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

#license img {
    display: inline-block;
    height:20px !important;
    margin-left: 3px;
    margin-bottom:5px;
          }

footer {
    text-align: center;
}

/* for the imaga attribution */

.attribution {
    text-align: center;
}

/* Center Headlines */

.homecenter {
    padding: 10% 0 10% 0;
    text-align: center;
}

/* this next section is mostly generated by pygmentize */
/* this uses the "sas" style */
/* pygmentize -S sas -a .highlight -f html >> files/assets/css/custome.css */
/* but pygmentize usese ".highlight .<code-type>" */
/* And bootstrap uses ".highlight pre .<code-type>" */
/* So to get it to work you need to inserc "pre" after every ".highlight" */
.highlight pre { background: #ffffff; }

/* @media COMMENTED {  uncomment this and the last line to disable */
pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight pre .hll { background-color: #ffffcc }
.highlight pre { background: #ffffff; }
.highlight pre .c { color: #008800; font-style: italic } /* Comment */
.highlight pre .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight pre .g { color: #2c2cff } /* Generic */
.highlight pre .k { color: #2c2cff } /* Keyword */
.highlight pre .x { background-color: #ffffe0 } /* Other */
.highlight pre .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.highlight pre .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight pre .cp { color: #008800; font-style: italic } /* Comment.Preproc */
.highlight pre .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.highlight pre .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight pre .cs { color: #008800; font-style: italic } /* Comment.Special */
.highlight pre .gd { color: #2c2cff } /* Generic.Deleted */
.highlight pre .ge { color: #008800 } /* Generic.Emph */
.highlight pre .gr { color: #d30202 } /* Generic.Error */
.highlight pre .gh { color: #2c2cff } /* Generic.Heading */
.highlight pre .gi { color: #2c2cff } /* Generic.Inserted */
.highlight pre .go { color: #2c2cff } /* Generic.Output */
.highlight pre .gp { color: #2c2cff } /* Generic.Prompt */
.highlight pre .gs { color: #2c2cff } /* Generic.Strong */
.highlight pre .gu { color: #2c2cff } /* Generic.Subheading */
.highlight pre .gt { color: #2c2cff } /* Generic.Traceback */
.highlight pre .kc { color: #2c2cff; font-weight: bold } /* Keyword.Constant */
.highlight pre .kd { color: #2c2cff } /* Keyword.Declaration */
.highlight pre .kn { color: #2c2cff } /* Keyword.Namespace */
.highlight pre .kp { color: #2c2cff } /* Keyword.Pseudo */
.highlight pre .kr { color: #353580; font-weight: bold } /* Keyword.Reserved */
.highlight pre .kt { color: #2c2cff } /* Keyword.Type */
.highlight pre .m { color: #2c8553; font-weight: bold } /* Literal.Number */
.highlight pre .s { color: #800080 } /* Literal.String */
.highlight pre .nb { color: #2c2cff } /* Name.Builtin */
.highlight pre .nf { font-weight: bold; font-style: italic } /* Name.Function */
.highlight pre .nv { color: #2c2cff; font-weight: bold } /* Name.Variable */
.highlight pre .w { color: #bbbbbb } /* Text.Whitespace */
.highlight pre .mb { color: #2c8553; font-weight: bold } /* Literal.Number.Bin */
.highlight pre .mf { color: #2c8553; font-weight: bold } /* Literal.Number.Float */
.highlight pre .mh { color: #2c8553; font-weight: bold } /* Literal.Number.Hex */
.highlight pre .mi { color: #2c8553; font-weight: bold } /* Literal.Number.Integer */
.highlight pre .mo { color: #2c8553; font-weight: bold } /* Literal.Number.Oct */
.highlight pre .sa { color: #800080 } /* Literal.String.Affix */
.highlight pre .sb { color: #800080 } /* Literal.String.Backtick */
.highlight pre .sc { color: #800080 } /* Literal.String.Char */
.highlight pre .dl { color: #800080 } /* Literal.String.Delimiter */
.highlight pre .sd { color: #800080 } /* Literal.String.Doc */
.highlight pre .s2 { color: #800080 } /* Literal.String.Double */
.highlight pre .se { color: #800080 } /* Literal.String.Escape */
.highlight pre .sh { color: #800080 } /* Literal.String.Heredoc */
.highlight pre .si { color: #800080 } /* Literal.String.Interpol */
.highlight pre .sx { color: #800080 } /* Literal.String.Other */
.highlight pre .sr { color: #800080 } /* Literal.String.Regex */
.highlight pre .s1 { color: #800080 } /* Literal.String.Single */
.highlight pre .ss { color: #800080 } /* Literal.String.Symbol */
.highlight pre .bp { color: #2c2cff } /* Name.Builtin.Pseudo */
.highlight pre .fm { font-weight: bold; font-style: italic } /* Name.Function.Magic */
.highlight pre .vc { color: #2c2cff; font-weight: bold } /* Name.Variable.Class */
.highlight pre .vg { color: #2c2cff; font-weight: bold } /* Name.Variable.Global */
.highlight pre .vi { color: #2c2cff; font-weight: bold } /* Name.Variable.Instance */
.highlight pre .vm { color: #2c2cff; font-weight: bold } /* Name.Variable.Magic */
.highlight pre .il { color: #2c8553; font-weight: bold } /* Literal.Number.Integer.Long */
/*} end COMMENTED */
